*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    background-image: url(images/bg-img.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 15vh;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vw;
    font-family: inter;
    padding-top: 20px;
}
.SignIn-SignUp-container {
    color: white;
    display: flex;
    gap: 5%;
    font-size: 16px;
}
.SignIn {
    border: 1px solid white;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    color: white;
    background-color: transparent;
}
.SignUp {
    border-radius: 10px;
    width: 80px;
    height: 40px;
    color: white;
    background: linear-gradient(to bottom, #18C8FF, #933FFE);
    border: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    font-family: inter;
}
.modal-content {
    background-color: #1A1B23;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-btn {
    background: linear-gradient(to bottom, #18C8FF, #933FFE);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
.close {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#email, #password, #newEmail, #newPassword, #confirmPassword {
    padding: 10px;
    margin: 10px 0;
    width: 92%;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #2a2a45;
    color: white;
}
.nav-container{
    display: flex;
    gap: 1vw;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: white;
}
.hero-container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.hero-text-container{
    text-align: center;
    color: #898CA9;
    font-size: 16px;
    font-family: inter;
}
.hero-h1{
    font-size: 120px;
    font-family: inter;
    font-weight: 800;
    margin-bottom: 0;
}
.hero-button{
    border-radius: 10px;
    width: 150px;
    margin-top: 25px;
    height: 45px;
    color: white;
    background: linear-gradient(to bottom, #18C8FF, #933FFE);
    border: none;
    font-size: 16px;
    font-family: inter;
}
.card-h2{
    color: white;
    font-family: inter;
    font-size: 32px;
    font-weight: 800;
}
.card-text{
    color: #898CA9;
    font-size: 16px;
    font-family: inter;
    text-align: center;
}
.card-a{
    text-decoration: none;
    color: #933FFE;
    font-family: inter;
    font-size: 16px;
    font-weight: bold;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #1A1B23;
    width: 380px;
    height: 346px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.card-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30vh;
}
.second-container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.second-text-container{
    text-align: center;
    color: #898CA9;
    font-size: 16px;
    font-family: inter;
    text-align: center;
}
.second-h1{
    font-size: 50px;
    font-family: inter;
    font-weight: 800;
    margin-bottom: 0;
    text-align: center;
}
.second-button{
    border-radius: 10px;
    width: 150px;
    margin-top: 25px;
    height: 45px;
    color: white;
    background: linear-gradient(to bottom, #18C8FF, #933FFE);
    border: none;
    font-size: 16px;
    font-family: inter;
}
.third-container{
    color: white;
    display: flex;
    flex-direction: column;
}
.third-text-container{
    color: #898CA9;
    font-size: 16px;
    font-family: inter;
}
.third-h1{
    font-size: 80px;
    font-family: inter;
    font-weight: 800;
    margin-bottom: 0;
}
.third-button{
    border-radius: 10px;
    width: 150px;
    margin-top: 25px;
    height: 45px;
    color: white;
    border: none;
    font-size: 16px;
    font-family: inter;
    background-color: transparent;
    border: 1px solid white;
}
.third-main-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10vw;
}
.third-main-container img {
    max-width: 100%;
    height: auto;
}
.fourth-container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.fourth-text-container{
    color: #898CA9;
    font-size: 16px;
    font-family: inter;
    text-align: center;
}
.fourth-h1{
    font-size: 60px;
    font-family: inter;
    font-weight: 800;
    margin-bottom: 0;
    text-align: center;
}
.fourth-a{
    color: #933FFE;
    font-size: 16px;
    font-family: inter;
}
.fourth-main-container{
    display: flex;
    margin-top: -70vh;
    gap: 20vh;
    justify-content: right;
}
.crypto-table{
    width: 100%;
    display: flex;
    justify-content: center;  
    margin-top: -20%;
} 
table{
    width: 50%;
    border-collapse: collapse;
    font-family: inter;
    background-color: #24243e;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}  
thead{
    background-color: #2d2d4f;
} 
th, td{
    padding: 16px 20px;
    text-align: left;
} 
th{
    color: #9c9cb2;
    font-weight: bold;
    text-transform: uppercase;
}  
tbody tr:nth-child(even){
    background-color: #2a2a45;
}
tbody tr:hover{
    background-color: #3b3b5e;
}  
td{
    font-size: 16px;
    color: white;
} 
.positive{
    color: #4caf50;
    font-weight: bold;
} 
.negative{
    color: #f44336;
    font-weight: bold;
} 
a{
    color: #7c4dff;
    text-decoration: none;
    font-weight: bold;
} 
a:hover{
    text-decoration: underline;
}
.abre{
    color: #933FFE;
}
.fifth-container{
    color: white;
    display: flex;
    flex-direction: column;
}
.fifth-text-container{
    color: #898CA9;
    font-size: 16px;
    font-family: inter;
}
.fifth-h1{
    font-size: 80px;
    font-family: inter;
    font-weight: 800;
    margin-bottom: 0;
}
.fifth-button{
    border-radius: 10px;
    width: 150px;
    margin-top: 25px;
    height: 45px;
    color: white;
    background: linear-gradient(to bottom, #18C8FF, #933FFE);
    border: none;
    font-size: 16px;
    font-family: inter;
}
.fifth-main-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 auto; /* Center content */
}
.sixth-container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sixth-text-container{
    color: #898CA9;
    font-size: 16px;
    font-family: inter;
}
.sixth-main-container {
    clear: both; 
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sixth-h1{
    font-size: 80px;
    font-family: inter;
    font-weight: 800;
    margin-bottom: 0;
}
.gradient-border-wrapper{
    display: inline-block;
    position: relative;
    margin-top: 20px;
}
.Email{
    position: relative;
    z-index: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    background: none;
    color: white;
}
.gradient-border-wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 8px; 
    background: linear-gradient(to bottom, #18C8FF, #933FFE);
    padding: 2px; 
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: exclude;
    mask-composite: exclude;
}
span{
    color: white;
}
.send-button{
    margin-left: 10px; 
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding-right: 10px;

}
footer{
    height: 200px;
    width: auto;
    background-color: #1A1B23;
}